{% extends "base.html" %}
{% load static %}

{% block content %}  

<!-- About Start -->
<div class="container-fluid py-5">
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-5">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
        </div>
        <div class="col-lg-7">
            <div class="text-left mb-4">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Techbeatrice</h5>
                <h1>Innovative Way To Learn</h1>
            </div>
            <p>As you can probably tell, my name is Techbeatrice. My passion for basically my whole life is technology. 
                I'll pretty much be doing a progress report on my website, to tell you how I'm getting on with Cybersecurity and programming, building this website, and other things I've started learning, 
                doing, etc. In short, it's pretty much a blog-type thing. Along with that, once I'm TOO good at coding, I might post some competitive programming-related content to help 
                you learn some, and participate in national or even international competitive programming olympiads and security.</p>
            <a href="{% url 'contact' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contact Us</a>
        </div>
    </div>
</div>
</div>
<!-- About End -->

{% endblock %}