{% extends "base.html" %}
{% load static %}

{% block content %}  

<!-- About Start -->
<div class="container-fluid py-5">
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-5">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
        </div>
        <div class="col-lg-7">
            <div class="text-left mb-4">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Techbeatrice</h5>
                <h1 style="color: #0047AB;">Innovative Way To Learn</h1>
            </div>
            <p>As you can probably tell, my name is Techbeatrice. My passion for basically my whole life is technology. 
                I'll pretty much be doing a progress report on my website, to tell you how I'm getting on with Cybersecurity and programming, building this website, and other things I've started learning, 
                doing, etc. In short, it's pretty much a blog-type thing. Along with that, once I'm TOO good at coding, I might post some competitive programming-related content to help 
                you learn some, and participate in national or even international competitive programming olympiads and security.</p>
            <a href="{% url 'contact' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contact Us</a>
        </div>
    </div>
</div>
</div>


<div class="container">
<div class="shadow p-5 mb-5 bg-body rounded">
<section class="section gb nopadtop">
    <div class="container">
        <div class="boxed boxedp4">
            <div class="row blog-grid">
                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center style="color: #0047AB;">OUR MISSION</center></h4>
                            <p>We are a committed Construction Company with a penchant for excellent service delivery,
                               while holding on to our reputation with passion for integrity, and professionalism</p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->

                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center style="color: #0047AB;">OUR VISION</center></h4>
                            <p>To be known as the leading Real Estate Company rendering 
                               excellent services across the country and beyond.</p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->

                <div class="col-md-4">
                    <div class="course-box">
                        <div class="course-details">
                            <h4><center style="color: #0047AB;">Our Core Value</center></h4>
                            <p>We strive to work with people who embody our core values. To provide a conducive environment for our staff to develop and improve in their careers, so that they can render excellent services to our clients. </p>
                        </div><!-- end details -->
                    </div><!-- end box -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end boxed -->
    </div><!-- end container -->
</section>
</div>
</div>
<!-- About End -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66b1ec761601a2195ba14bfd/1i4jg7e0h';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
{% endblock %}