{% extends "base.html" %}
{% load static %}

{% block content %}  

<!-- About Start -->
<div class="container-fluid py-5">
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-5">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
        </div>
        <div class="col-lg-7">
            <div class="text-left mb-4">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Techbeatrice</h5>
                <h1>Innovative Way To Learn</h1>
            </div>
            <p>Techbeatrice, Techbeatrice Techbeatrice</p>
            <a href="{% url 'contact' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contact Us</a>
        </div>
    </div>
</div>
</div>
<!-- About End -->


<!-- Testimonial Start -->
<div class="container-fluid py-5">
<div class="container py-5">
    <div class="text-center mb-5">
        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Techbeatrice</h5>
        <h1>What Our Students want </h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="owl-carousel testimonial-carousel">
                <div class="text-center">
                    <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                    <h4 class="font-weight-normal mb-4">Techbeatrice,Techbeatrice,Techbeatrice,Techbeatrice</h4>
                    <img class="img-fluid mx-auto mb-3" src="{% static 'img/blog-80x80.jpg' %}" alt="">
                    <h5 class="m-0">Ethical Solomon</h5>
                    <span>Techbeatrice Instructor</span>
                </div>
                <div class="text-center">
                    <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                    <h4 class="font-weight-normal mb-4">Techbeatrice,Techbeatrice,Techbeatrice,Techbeatrice</h4>
                    <img class="img-fluid mx-auto mb-3" src="{% static 'img/blog-80x80.jpg' %}" alt="">
                    <h5 class="m-0"> Ethical Solomon</h5>
                    <span>Techbeatrice Instructor</span>
                </div>
                <div class="text-center">
                    <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                    <h4 class="font-weight-normal mb-4">Techbeatrice,Techbeatrice,Techbeatrice,
                        Techbeatrice,Techbeatrice,Techbeatrice,Techbeatrice</h4>
                    <img class="img-fluid mx-auto mb-3" src="{% static 'img/blog-80x80.jpg' %}" alt="">
                    <h5 class="m-0">Ethical Solomon</h5>
                    <span>Techbeatrice Instructor</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Testimonial End -->

{% endblock %}