{% extends "base.html" %}
{% load static %}
{% block title %} Courses {% endblock %}

{% block content %}  
  

<!-- Courses Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Start your journey to new opportunities in tech industry.</h5>
            <p>We have carefully put together great minds and super talented team to extend our skill and knowledge and help develop as many people as we can
            into understanding tech and finding a career path in Information Technology.</p>
        </div>
            <div class="row">
            {% for post in object_list %}
                <div class="col-lg-4 col-md-6 mb-4">
                     <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{{ post.courses_img.url }}"style="height:200px;"alt="">
                    <div class="bg-secondary p-4">
                    <a class="h5" href="{% url 'under_enrol' %}">{{ post.courses_title|truncatechars:30}}</a><br><br>
                    <p>{{ post.courses_description |truncatechars:75}}</p>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'under_enrol' %}" class="btn btn-primary"style="border-radius: 10px;">APPLY NOW</a>
                        </div>
                    </div>
                 </div>
             </div>
            
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Courses End -->
 <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66b1ec761601a2195ba14bfd/1i4jg7e0h';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    
{% endblock %}