{% extends "base.html" %}
{% load static %}
{% block title %}Data Protection and Encryption{% endblock %}
{% block content %}


    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Data Protection and Encryption</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'techbeatrice_courses' %}">Our Courses</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <div class="container-fluid py-5">
        
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h3 style="color: #0047AB;">An Overview of General IT Services </h3>
                    </div>
                    <p>In today's fast-paced, technology-driven world, businesses and individuals alike 
                        rely heavily on a variety of Information Technology (IT) services to ensure smooth 
                        and efficient operations. General IT services encompass a broad spectrum of support 
                        and solutions designed to address everyday technology needs, from basic troubleshooting 
                        to advanced network management. Here’s a detailed look at what general IT services typically include and why they are essential.
                    </p><br>
                        <div class="row">
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 first">
                                <ul class="check">
                                    <li>Technical Support and Help Desk</li>
                                    <li>Cybersecurity</li>
                                    <li>Data Backup and Recovery</li>
                                    <li>Software Installation and Management</li>
                                    <li>Hardware Maintenance and Repair</li>
                                    <li>Cloud Services and Management</li>
                                    <li>Training and Support</li>
                                </ul><!-- end check -->
                            </div><!-- end col-lg-4 -->    
                        </div><!-- end row --> 
                        <br>
                        <div class="text-left mb-4">
                            <h3 style="color: #0047AB;">IT Project Management/h3>
                        </div>
                        <p>Managing IT projects, such as system upgrades, software implementations, 
                            or network expansions, requires careful planning and execution. 
                            IT project management services ensure that projects are completed on time, 
                            within budget, and according to specified requirements. This involves 
                            coordinating resources, managing risks, and communicating with stakeholders 
                            throughout the project lifecycle.
                        </p><br>
                            <div class="row">
                                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 first">
                                    <ul class="check">
                                        <li>Monitoring and Controlling</li>
                                        <li>Skills and Tools</li>
                                        <li>Problem-Solving</li>
                                        <li>Monitoring and Controlling</li>
                                        <li>Security Monitoring and Advanced Threat Prevention</li>
                                    </ul><!-- end check -->
                                </div><!-- end col-lg-4 -->    
                            </div><!-- end row --> 
                        <a href="{% url 'contact' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contact Us</a>
                </div><br>
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/it.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>


{% endblock %}