{% extends "base.html" %}
{% load static %}
{% block title %} Enroll {% endblock %}

{% block content %}   

    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 150px">
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase" >Kindly Get In Touch With Techbeatrice Academy To Kick Start Your Physical 
                        and Online Classes.<br>We Are 24/7 Available To Respond To You Via Whatsapp, Email and Phone Calls.</p>
                        <i class="fa fa-angle-double-down pt-1 px-3"></i><i class="fa fa-angle-double-down pt-1 px-3"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- whatsapp techbeatricesolutions -->
    <div class="boxed boxedp4">
        <div class="row contactv2 text-center">
            <div class="col-md-4">
                <div class="small-box">
                    <i class="fab fa-3x fa-whatsapp text-primary mr-3"></i>
                    <a href="https://wa.me/+2347064308254?text=Hi Techbeatrice are you there?"target="_blank">
                    <h4>Whatsapp Us</h4>
                    <small>+2347064308254</small>
                    <p><a href="https://wa.me/+2347064308254?text=Hi Techbeatrice are you there?"target="_blank"></a></p>
                  </a>
                </div><!-- end small-box -->
            </div><!-- end col -->
        
            <div class="col-md-4">
                <div class="small-box">
                    <i class="fa fa-3x fa-envelope text-primary mr-3"></i>
                    <a href="mailto:techbeatricesolutions@gmail.com"target="_blank">
                    <h4>Send Us Email</h4>
                    <small>We Will Get Back To You</small>
                    <p><a href="mailto:techbeatricesolutions@gmail.com"target="_blank">techbeatricesolutions@gmail.com</a></p>
                   </a> 
                </div><!-- end small-box -->
            </div><!-- end col -->

            <div class="col-md-4">
                <div class="small-box">
                    <i class="fa fa-3x fa-map-marker text-primary mr-3"></i>
                    <a href="https://maps.app.goo.gl/WqoVAzVzyWkvZyY5A"target="_blank">
                    <h4>Visit Our Office</h4>
                    <small>Greenville Estate, Badore Ajah, Lekki Lagos</small>
                    <p><a href="https://maps.app.goo.gl/WqoVAzVzyWkvZyY5A"target="_blank">View on Google Map</a></p>
                   </a> 
                </div><!-- end small-box -->
            </div><!-- end col -->    
        </div><!-- end contactv2 -->



        <div class="container">
            <div class="shadow p-5 mb-5 bg-body rounded">
                <h1 style="color: #0047AB;">Enrollment List</h1>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    {% for item in items %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading{{ forloop.counter }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
                                {{ item.under_enroll_title }}
                            </button>
                        </h2>
                        <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ forloop.counter }}" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">{{ item.under_enroll_description }}</div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No data available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66b1ec761601a2195ba14bfd/1i4jg7e0h';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
            {% endblock %}