{% extends "base.html" %}
{% load static %}

{% block content %}    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#header-carousel" data-slide-to="1"></li>
                <li data-target="#header-carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" style="min-height: 300px;">
                    <img class="position-relative w-100" src="{%static 'img/carousel-1.jpg' %}" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Techbeatrice Online Courses</h5>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="min-height: 300px;">
                    <img class="position-relative w-100" src="{% static 'img/carousel-2.jpg' %}" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                            <h1 class="display-3 text-white mb-md-4">Best Online Learning Platform</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="min-height: 300px;">
                    <img class="position-relative w-100" src="{% static 'img/carousel-3.jpg' %}" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                            <h1 class="display-3 text-white mb-md-4">New Way To Learn From Home</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
    

    <!-- Category Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Techbeatrice</h5>
            <h1>Start your journey today</h1>
        </div>
        <div class="row">
            {% for post in object_list %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <a href="{% url 'detail' post.pk %}">
                    <img class="img-fluid" src="{{ post.techbeatrice_subjects_img.url }}" height="230px" alt="">
                    <a class="cat-overlay text-white text-decoration-none"href="{% url 'detail' post.pk %}">
                        <h4 class="text-white font-weight-medium">{{ post.techbeatrice_subjects_title|truncatechars:15}}</h4>
                        <span>{{ post.techbeatrice_subjects_description|truncatechars:15}}</span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Category Start -->






    <!-- Courses Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
                <h1>Our Popular Courses</h1>
            </div>
            <div class="row">
                {% for second_techbeatrice in second_techbeatrices %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        {% if second_techbeatrice.techbeatrice_courses_img %}
                        <a class="h5" href="{% url 'second_detail' second_techbeatrice.pk %}">
                        <img class="img-fluid" src="{{ second_techbeatrice.techbeatrice_courses_img.url }}" height="215px" alt="">
                        </a>
                        {% endif %}
                        <div class="bg-secondary p-4">
                            <a class="h5" href="{% url 'second_detail' second_techbeatrice.pk %}">{{ second_techbeatrice.techbeatrice_courses_title|truncatechars:24 }}</a><br><br>
                            <p>{{ second_techbeatrice.techbeatrice_courses_description |truncatechars:70}}</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h5 class="m-0">${{ second_techbeatrice.techbeatrice_courses_cost_price}}</h5>
                                    <div class="btn-wrapper">
                                        <a href="{% url 'second_detail' second_techbeatrice.pk %}" class="btn btn-primary"style="border-radius: 10px;">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Courses End -->
     


    


    {% endblock %}