
{% extends "base.html" %}
{% load static %}
{% block title %} Instructor {% endblock %}

{% block content %}  

    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Instructors</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase"></p><a class="text-white" href="{% url 'contact' %}">Contact</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Techbeatrice</h5>
                <h1>Meet Our Instructor</h1>
            </div>
            <div class="row">
                {% for post in object_list %}
                <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <a href="{% url 'detail' post.pk %}"><img class="img-fluid" src="{{ post.techbeatrice_instructor_img.url }}"height="225px" alt="">
                            </a>
                        </div>
                        <div class="bg-secondary p-4">
                            <a href="{% url 'detail' post.pk %}"><h5>{{ post.techbeatrice_instructor_name|truncatechars:15}}</h5></a>
                            <h6>{{ post.techbeatrice_instructor_position|truncatechars:15}}</h6><hr>
                            <p class="m-0">{{ post.techbeatrice_instructor_description|truncatechars:20}}</p><br>
                            <a href="" class="btn btn-primary"style="border-radius: 10px;">View More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->

{% endblock %}