{% extends "base.html" %}
{% load static %}
{% block title %} IT Support Page  {% endblock %}
{% block content %}
<br>

    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/it.jpg' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h3 style="color: #0047AB;">IT Consulting and User Support</h3>
                    </div>
                    <p>Techbeatrice are an award-winning business IT support company.
                        Our Managed IT support provides fast and efficient technical support 
                        for your business platforms to increase productivity while reducing costs.Our customers can benefit from support that includes:
                    </p><br>
                        <div class="row">
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 first">
                                <ul class="check">
                                    <li>Troubleshooting and resolving IT issues</li>
                                    <li>Rapid response times</li>
                                    <li>24/7/365 IT Support</li>
                                    <li>Elite Cyber Security Operations</li>
                                    <li>Remote Technical Support</li>
                                    <li>Security Monitoring and Advanced Threat Prevention</li>
                                    <li>Cloud and Microsoft Azure Support</li>
                                    <li>Providing technical assistance to employees</li>
                                    <li>Updating and maintaining company systems and networks</li>
                                </ul><!-- end check -->
                            </div><!-- end col-lg-4 -->    
                        </div><!-- end row --> 
                        <br>
                        <div class="text-left mb-4">
                            <h3 style="color: #0047AB;">Technical support</h3>
                        </div>
                        <p>We provide professional technical support and maintenance services to 
                            make sure your request is always working at its best. I have consistently prioritized customer 
                            satisfaction by actively listening to their needs, resolving issues promptly, and providing clear, concise information</p><br>
                            <div class="row">
                                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 first">
                                    <ul class="check">
                                        <li>Maintenance</li>
                                        <li>Secure & accessible</li>
                                        <li>Installing and configuring software</li>
                                        <li>Management</li>
                                        <li>Managing user access permissions and credentials</li>
                                        <li>Project Consulting</li>
                                        <li>Assisting with data backup and recovery</li>
                                    </ul><!-- end check -->
                                </div><!-- end col-lg-4 -->    
                            </div><!-- end row --> 
                        <a href="{% url 'contact' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contact Us</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}