{% extends "base.html" %}
{% load static %}
{% block title %} Managed Security Services (MSS){% endblock %}
{% block content %}

  <!-- Header Start -->
  <div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Managed Security Services (MSS)</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'techbeatrice_courses' %}">Our Courses</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


    <div class="container-fluid py-5">
       
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/incindent.jpg' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h4 style="color: #0047AB;">Understanding Managed Security Services (MSS)</h4>
                    </div>
                    <p>Managed Security Services (MSS) encompass a broad spectrum of outsourced security 
                        solutions designed to safeguard an organization's IT infrastructure. 
                        These services are delivered by specialized providers who bring expertise, 
                        advanced technologies, and continuous monitoring capabilities to the table. 
                        By leveraging MSS, organizations can focus on their core business operations
                        while experts manage their security needs.</p><br>
                        <div class="row">
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 first">
                                <ul class="check">
                                    <li>24/7 Monitoring and Management</li>
                                    <li>Threat Detection and Response</li>
                                    <li>Incident Management</li>
                                    <li>Vulnerability Management</li>
                                    <li>Firewall and Intrusion Detection System (IDS) Management</li>
                                </ul><!-- end check -->
                            </div><!-- end col-lg-4 -->    
                        </div><!-- end row --> 
                        <br>
                        <div class="text-left mb-4">
                            <h3 style="color: #0047AB;">Security Information and Event Management (SIEM)</h3>
                        </div>
                        <p>Centralized Monitoring: SIEM solutions aggregate and analyze 
                            security event data from across your IT environment. MSS providers 
                            utilize SIEM to detect anomalies, correlate events, and generate actionable insights for enhanced security.
                        </p><br>
                            <div class="row">
                                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 first">
                                    <ul class="check">
                                        <li>Compliance Management</li>
                                        <li>Endpoint Protection</li>
                                        <li>Backup and Recovery</li>
                                        <li>Consulting and Advisory Services</li>
                                    </ul><!-- end check -->
                                </div><!-- end col-lg-4 -->    
                            </div><!-- end row --> <br>
                        <a href="{% url 'contact' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contact Us</a>
                </div>
            </div>
        </div>
    </div>


    
    <div class="container-fluid py-5">
        <center><h3 style="color: #0047AB;">Benefits of Managed Security Services</h3></center><br><br>
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <p>Managed Security Services (MSS) provide a range of benefits for organizations looking 
                        to enhance their security posture without needing to build and maintain an extensive 
                        in-house security team. Here are some key advantages</p><br>
                        <div class="row">
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 first">
                                <ul class="check">
                                    <li>Expertise and Experience</li>
                                    <li>Cost Efficiency</li>
                                    <li>Focus on Core Activities</li>
                                    <li>Scalability</li>
                                    <li>Advanced Technology</li>
                                </ul><!-- end check -->
                            </div><!-- end col-lg-4 -->    
                        </div><!-- end row --> 
                        <br>
                        <div class="text-left mb-4">
                            <h3 style="color: #0047AB;">Advanced Technology in Managed Security Services (MSS)</h3>
                        </div>
                        <p>In the realm of cybersecurity, staying ahead of emerging threats requires not only 
                            expertise but also cutting-edge technology. Managed Security Services (MSS) leverage 
                            advanced technologies to provide robust, proactive, and effective protection for 
                            organizations. Here’s a closer look at some of the advanced technologies that are transforming MSS</p><br>
                            <div class="row">
                                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12 first">
                                    <ul class="check">
                                        <li> Artificial Intelligence (AI) and Machine Learning (ML)</li>
                                        <li>Security Information and Event Management (SIEM)</li>
                                        <li>Extended Detection and Response (XDR)</li>
                                        <li>Threat Intelligence Platforms</li>
                                        <li>Next-Generation Firewalls (NGFW)</li>
                                    </ul><!-- end check -->
                                </div><!-- end col-lg-4 -->    
                            </div><!-- end row --> 
                            
                        <a href="{% url 'contact' %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Contact Us</a>
                </div><br>
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/it.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>



{% endblock %}